<template>
  <div class="row"
       @click="clearSelected">
    <FolderItem v-for="folder in folders"
                :folder="folder"
                :key="`folder-${folder.id}`"
                @click.exact.stop="selectOne(folder)"
                @click.meta.exact.stop="selectMultiple(folder)"
                @dblclick.stop="$emit('doubleClick', folder)"
                :class="{ 'selected-folder': isSelected(folder) }" />
  </div>
</template>

<script>
import FolderItem from "./FolderItem.vue";
import useItemSelection from "../../composable/items-selection";

export default {
  name: "FolderList",
  components: { FolderItem },
  props: {
    folders: {
      type: Array,
      required: true,
    },
    selected: {
      type: Array,
      default: () => [],
    },
  },
  setup(props, { emit }) {
    return useItemSelection(props.selected, emit);
  },
  emits: ["select-change", "doubleClick"],
};
</script>
